*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0; margin:0;}
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


body{
  background: #1c1f22;
  padding:0;
  margin:0;
}

$ham-trans : all .3s ease-in-out;
$ham-bg : #000000;
$text-default : #ffffff;

.navIcon,
.navIcon .bar,
.navIcon .bar::before,
.navIcon .bar::after,
#cate{
  -webkit-transition: $ham-trans;
  -moz-transition: $ham-trans;
  -ms-transition: $ham-trans;
  -o-transition: $ham-trans;
  transition: $ham-trans;
}

h1,h2,h3,h4,h5,a{
  font-family: 'Montserrat', sans-serif;
}

.navIcon{
  position:fixed;
  left:15px;
  top:15px;
  width:50px;
  height:50px;
  cursor:pointer;
  z-index:20;
  .bar{
    width: 18px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    &::before, &::after{
      content: '';
      position: absolute;
      width:18px;
      height:2px;
      background:#fff;
      z-index:10;
    }
    &::before{
      transform: rotate(0deg) translate(0px,-5px);
    }
    &::after {
      transform: rotate(0deg) translate(0px, 5px);
    }
  }
  &.active .bar::before{
    transform: rotate(-45deg) translate(0px,0px);
  }
  &.active .bar::after{
    transform: rotate(45deg) translate(0px,0px);
  }
}

.sideBar{
  position: fixed;
  background:$ham-bg;
  left: 0;
  top: 0;
  width:4.2vw;
  height:100vh;
  z-index:3;
}

#cate{
  position: fixed;
  background:$ham-bg;
  top:0;
  left:0;
  width:420px;
  height:100vh;
  padding: 5vw 0 0 5vw;
  margin: 0;
  transform: translate(-100%, 0);
  z-index: 9;
  h2{
    color:#fff;
    font-size: 2.5rem;
  }
  ul{
      margin-top:4vh;
    li{
      list-style:none;
      a{
        text-decoration: none;
        display: block;
        color: $text-default;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    li + li{
      margin-top:2vh;
    }
  }
  &.active {
    transform: translate(0%, 0);
  }
}

.main{
  padding: 8vh 10vw;
}

.mainHead{
  .logo{
    color:$text-default;
    font-size: 2.7rem;
  }
  .txt{
    color:$text-default;
    font-family: 'Kanit', sans-serif;
    font-size:2.3rem;
    font-weight:500;
    margin-top: 4vh;
  }
}

.contents{
  .title{
    color:$text-default;
    border:1px solid $text-default;
    font-size: 1.3rem;
    margin-top: 4vh;
    width: auto;
    height: 5vh;
    line-height: 4.5vh;
    padding: 0 2vw;
    display: inline-block;
    border-radius: 2vw;
  }
  .work{
    margin-top: 4vh;
    display:flex;
    .box{
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items:center;
      width: 20%;
      height: 25vh;
      background: rgb(39,44,48);
      background: linear-gradient(132deg, rgba(39,44,48,1) 0%, rgba(28,31,34,1) 100%);
      border-radius: 1.5vw;
      text-decoration: none;
      color:$text-default;
      font-size: 1.2rem;
      font-weight:bold;
    }
    .box + .box{
      margin-left:2vw;
    }
  }
}

.footAni{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3vw;
  line-height: 3vw;
  z-index: 2;
  background:$ham-bg;
  white-space: nowrap;
  .license{
    width: 100%;
    display:inline-block;
    font-family: 'Anton', sans-serif;
    color:red;
    text-align:center;
    font-size:1.5rem;
    animation: marAni 10s linear infinite;
  }
  @keyframes marAni {
    100% {
      transform: translateX(-100%);
    }
  }
}

